<h1>{{form.value | json}}</h1>

<form [formGroup]="form">
  <ngx-trumbowyg-editor id="editor" formControlName="foo"></ngx-trumbowyg-editor>
</form>

<form [formGroup]="form">
  <textarea id="withDirective" ngxTrumbowygEditor formControlName="foo"></textarea>
</form>

<form [formGroup]="form">
  <ngx-trumbowyg-editor id="withPlaceholder" placeholder="bar" formControlName="foo"></ngx-trumbowyg-editor>
</form>

<form [formGroup]="form">
  <textarea id="withDirectiveAndPlaceholder" ngxTrumbowygEditor placeholder="bar" formControlName="foo"></textarea>
</form>

<form #f="ngForm">
  <ngx-trumbowyg-editor id="disabled" name="model" [(ngModel)]="model" disabled></ngx-trumbowyg-editor>
</form>

<form #f1="ngForm">
  <textarea ngxTrumbowygEditor id="withDirectiveDisabled" name="model" [(ngModel)]="model" disabled></textarea>
</form>

<form #f2="ngForm">
  <ngx-trumbowyg-editor id="withContent" name="modelWithContent" [(ngModel)]="modelWithContent"></ngx-trumbowyg-editor>
</form>

<form #f3="ngForm">
  <textarea ngxTrumbowygEditor id="directiveWithContent" name="modelWithContent" [(ngModel)]="modelWithContent"></textarea>
</form>

<form #f4="ngForm">
  <ngx-trumbowyg-editor id="configOverride" name="configOverride" [options]="options" [(ngModel)]="modelWithContent"></ngx-trumbowyg-editor>
</form>

<form #f5="ngForm">
  <textarea ngxTrumbowygEditor id="directiveWithConfigOverride" name="configOverride" [options]="options" [(ngModel)]="modelWithContent"></textarea>
</form>

<form #f6="ngForm">
  <ngx-trumbowyg-editor id="lazyLoadedContent" name="configOverride" [options]="options" [(ngModel)]="lazyContent"></ngx-trumbowyg-editor>
</form>

<form #f7="ngForm">
  <textarea ngxTrumbowygEditor id="directiveWithLazyLoadedContent" name="configOverride" [options]="options" [(ngModel)]="lazyContent"></textarea>
</form>
